body{
	background: #f7f7f5;
}
.content{
	margin: 0 auto;
	width: 1300px;
}
.common{
	margin:0 auto;
	width:100%;
	overflow: hidden;
}
.header_wrapper{
	background: #2f2f2f;
	height: 55px;	
}
.header{
	background: #2f2f2f;
	height: 55px;
}
/*导航开始*/
/*logo*/
.logo{
	margin-right: 139px;
	float: left;
}
.logo a{
	line-height: 55px;
	color:#008ddc;
	font-family:arial;
	font-size: 32px;
}
.logo a img{
	background: #2f2f2f;
}
/*下拉导航栏的实现*/
.nav>ul{
	text-align: center;
	float: left;
	/*line-height: 35px;*/
	height: 35px;
	margin-top: 10px;
	overflow: hidden;
	border-left: 1px solid transparent;
}
.nav .bg{
	display: none;
	height: 7;
	z-index: 7;
	position: absolute;
	width: 4000px;
	top: 45px;
	left: -50px;
}
.nav .conmn{
	background: #2f2f2f;
	position: absolute;
	z-index:9;
	width: 200px;
	height: 200px;
	display: none;
}
.nav .list1{
	left: 305.5px;
}
.nav .list2{
	left: 399px;
}
.nav .list3{
	left: 493.5px;
}
.nav .list4{
	left: 587.5px;
}
.nav .conmn li a{
	display: block;
	width: 200px;
	height: 25px;
	text-align: left;
	padding-left: 20px;
	line-height: 25px;
}
.nav .bg .list1 a{
	padding-left: 20px;
}
.nav>ul:hover{
	transition: all 1s ease;
	border-left: 1px solid #CCCCCC;
}
.nav>ul:hover .wrap{
	z-index: 13;
	/*display: block;*/
	opacity: 1;
	transition: all .5s ease-in-out
}
.nav>ul:hover .bg{
	display: block;
	z-index: 12;
	background: #2f2f2f;
	transition: all 1s ease;
	height: 220px;
	margin-left:-1px;
}
.nav>ul:hover .conmn{
	z-index: 15;
	display: block;
	transition: all 2s ease;
	border-left: 1px solid #CCCCCC;
}
.nav ul li>a{
	display: inline-block;
	margin: 15px 0;
	box-sizing: border-box;
	width: 93px;
	line-height: 0;
	font-size:14px;
	color:#fff;
}
.nav li a:hover{
	color:#ccc;
}
.nav .center li{
	float: left;
}
/*动画效果图*/
.wrap{
	position: absolute;
	transform-style: preserve-3d;
	height: 100%;
	z-index: 8;
	/*display: none;*/
	opacity: 0;
}
.box01{
	width:70px;
	height: 70px;
	border: 0.5px solid #008cd6;
	border-radius: 50%;
	position: absolute;
	top: 83px;
	left: -37px;
	transform: matrix(1, 0, 0, 1, 0, -25);
	animation: x 2s linear infinite;
	opacity: 0.5;
	z-index: 2;
}
.box01 span{
	display: block;
	width: 4px;
	height:4px;
	border: 0.5px solid #008cd6;
	border-radius:50%;
	position: absolute;
	top:18px;
	left: 0;
}
.box02{
	width:100px;
	height: 100px;
	border: 1px solid #008cd6;
	border-radius: 50%;
	position: absolute;
	top: 23px;
	left: -54px;
	transform: matrix(1, 0, 0, 1, 0, -25);
	animation: go 3s linear infinite;
	opacity: 0.7;
}
.box02 span{
	display: block;
	width: 4px;
	height:4px;
	border: 1px solid #008cd6;
	border-radius:50%;
	position: absolute;
	top:67px;
	left: 0;
}
.box03{
	width:150px;
	height: 150px;
	border: 1.5px solid #008cd6;
	border-radius: 50%;
	position: absolute;
	top: 36px;
	left: -70px;
	opacity: 0.8;
	/*transform: matrix(1, 0, 0, 1, 267.273, 0);*/
	animation: x 4s linear infinite;
}
.box03 span{
	display: block;
	width: 6px;
	height:6px;
	border: 1px solid #008cd6;
	border-radius:50%;
	position: absolute;
	top:45px;
	left: 0;
}
.box04{
	width:170px;
	height: 170px;
	border: 1.5px solid #008cd6;
	border-radius: 50%;
	position: absolute;
	top: 16px;
	left: -88px;
	animation: go 5s linear infinite;
	transform: matrix(1, 0, 0, 1, 267.273, 0);
	opacity: 0.9;

}
.box04 span{
	display: block;
	width: 8px;
	height:8px;
	border: 2px solid #008cd6;
	border-radius:50%;
	position: absolute;
	top:46px;
	left: 0;
}
@keyframes x{
	0%{transform: rotateZ(0deg);}
	100%{transform: rotateZ(720deg);}
}
@keyframes go{
	0%{transform:  rotateZ(0deg);}
	100%{transform:  rotateZ(360deg);}
}
/*搜索主页框*/
.header_left a{
	float: left;
	display: block;
	width: 64px;
	line-height: 55px;
	text-align: center;
	margin-left: 20px;
}
.header_left a i{
	width: 100%;
	color: #fff;
}
.header_left a i:hover{
	color:#ccc;
}
.header_left .left_login .login{
	position: absolute;
	width: 180px;
	height: 240px;
	background:#fff;
	top: 57px;
	right: 127px;
	padding-top: 10px;
	display: none;
}
.header_left .left_login .login a{
	width: 100%;
	display: block;
	color: #333333;
	font-size: 16px;
	text-align: left;
	box-sizing: border-box;
	padding-left: 18px;
}
.header_left .left_login .login a i{
	margin-right: 12px;
	color: #ccc;
}
.header_left .left_login:hover .login{
	display: block;
	z-index: 100;
}
/*导航结束*/
/*底部开始*/
.footer_wrapper{
	height: 550px;
	background: #fff;
}
.footer{
	height: 550px;
	background: #fff;
	position: relative;
}
/*底部头部*/
.footer .footer_top{
	height: 120px;
	border-bottom: 1px solid #000000;
}
.footer_top ul{
	padding-top: 65px;
	height: 100%;
	display: flex;
}
.footer_top ul li{
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: space-between;
}
.footer_top ul li a{
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 18px;
	color: #000000;
	padding-left: 10px;
}
.footer_top ul li i{
	display: inline-block;
	width: 19px;
	height: 18px;
	margin-top: 4px;
	margin-right:4px;
	background: url(../images/home/icons.png) no-repeat;
}
.footer_top ul li:nth-child(1) a i{
	background-position:-2px -49px;
}
.footer_top ul li:nth-child(2) a i{
	background-position:-37px -50px;
}
.footer_top ul li:nth-child(3) a i{
	background-position:-37px -12px;
}
.footer_top ul li:nth-child(4) a i{
	background-position:-1px -13px;
}
/*底部导航*/
.footer .footer-nav{
	width: 96%;
}
.footer-nav ul{
	margin-top: 60px;
	width: 100%;
	display: flex;
}
.footer-nav ul li{
	width: 16%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-nav ul li span{
	margin-bottom: 10px;
	color: #000000;
	font-weight: 600;
	font-size: 12px;
}
.footer-nav ul li a{
	margin: 4px 0;
	font-size: 12px;
}
.footer-nav ul li a:hover{
	color: #056BE8;
}
/*底部联系栏*/
.footer-left{
	position: absolute;
	top: 230px;
	right: 0;
	float: right;
}
.footer-left a{
	color: #056BE8;
	font-size: 24px;
}
.footer-left p{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 21px;
	color: #202223;
}
.footer-left span{
	padding-left: 50px;
	color: #999999;
}
.footer-copyright{
	height:82px;
	line-height: 82px;
	border-top:1px solid #EBEBEB;
	margin-top: 110px;
	display: flex;
	justify-content: space-between;
	position: relative;
	font-size: 12px;
}
.footer-copyright .footer_icon{
	display: flex;
}
.footer-copyright .footer_icon .icon_left{
	margin-right: 45px;	
}
.footer-copyright .footer_icon .icon_left ul{
	position: absolute;
	bottom: 65px;
	right: 50px;
	width: 130px;
	box-sizing: border-box;
	padding: 20px 0;
	box-shadow: 0 15px 30px rgba(0,0,0,.1);
	opacity: 0;
}
.footer-copyright .footer_icon .icon_left ul li{
	font-size: 16px;
	box-sizing: border-box;
	width: 130px;
	padding: 0 20px;
	line-height: 40px;
	color: #CCCCCC;
}
.footer-copyright .footer_icon .icon_left ul li i{
	display: inline-block;
	background: url(../images/home/icons.png) no-repeat;
	background-position: -1px -166px;
	width: 21px;
	height: 17px;
	margin-right: 18px;
}
.footer-copyright .footer_icon .icon_left ul li:nth-child(2) i{
	background-position: 0px -125px;
}
.footer-copyright .footer_icon .icon_left ul li:nth-child(3) i{
	background-position: 0px -89px;
}
.footer-copyright .footer_icon .icon_left ul li:hover{
	background:#DDDDDD;
	transition: all .3s ease-out;
	color: #000000;
}
.footer-copyright .footer_icon .icon_left:hover ul{
	opacity: 1;
	height: 160px;
	transition: all 1s ease-out;
}
.footer-copyright .footer_icon .icon_left ul li:nth-child(1):hover i{
	background-position: -36px -167px;
	color: #000000;
}
.footer-copyright .footer_icon .icon_left ul li:nth-child(2):hover i{
	background-position: -36px -127px;
	color: #000000;
}
.footer-copyright .footer_icon .icon_left ul li:nth-child(3):hover i{
	background-position: -36px -88px;
	color: #000000;
}
.footer-copyright .footer_icon .icon_left ul li span{
	display: block;
	position: absolute;
	right: 180px;
	width: 130px;
	height: 160px;
}
/*回到顶部*/
.shift_nav{
	width: 60px;
	position: fixed;
	right: 0;
	bottom: 50px;
	z-index: 50;
}
.shift_nav li a{
	display: block;
	background: #fff;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.shift_nav li a i{
	font-size:26px;
	color: #252525;
}
.shift_nav .prompt_border{
	position: fixed;
	right: 60px;
	bottom: 50px;
	display: none;
	border-right: 10px solid transparent;
}
.shift_nav .prompt{
	background: #fff;
	width: 120px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
}
.shift_nav ul li:hover a{
	background: #ebebeb;
}
.shift_nav ul li:hover a i{
	color: #f51919;
}
.shift_nav ul li:hover .prompt_border{
	display: block;
}
.shift_nav .getTop{
	opacity: 0;
}
/*底部结束*/


