
.swiper-container{
	z-index: 10!important;
}
.swiper-container .banner_nav{
	position: absolute;
    width: 220px;
    top: 33px;
    left: 110px;
    z-index: 50;
    background: #DFDFDF;
}
.swiper-container .banner_nav .listone>a{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color:#202223;
    height: 65px;
    line-height: 65px;
    font-size: 14px;
}
.swiper-container .banner_nav .listtwo>a{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color:#202223;
    height: 65px;
    line-height: 65px;
    font-size: 14px;
}
.swiper-container .banner_nav .listone:hover .nav_border{
	display: block;
}
.swiper-container .banner_nav .listone:hover a{
	background: #fff;
}
.banner_nav .list{
	padding-top: 15px;
	height: 470px;
}
.banner_nav .listone .nav_list{
	width: 800px;
	height: 485px;
	padding: 0 30px;
	background: #fff;
}
.banner_nav .listone .nav_border{
	position: absolute;
	left: 220px;
	top: 0;
	border-left: 14px solid transparent;
	display: none;
}
.banner_nav .listone .nav_list h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
}
.banner_nav .listone .nav_list h2 span{
	font-size: 18px;
}
.banner_nav .listone .nav_list h2 a{
	color:#ccc;
	font-size: 14px;
}
.swiper-container .banner_nav .listone .nav_list .list_title{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 30px;
}
.swiper-container .banner_nav .listone .nav_list .list_title li a{
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
	height: 50px;
	width: 182px;
	background: url(../images/index/title01.jpg) no-repeat;
	background-size: 182px 55px;
	border-radius: 12px;
}
.swiper-container .banner_nav .listone .nav_list .list_title li a:nth-child(2){
	background: url(../images/index/title03.jpg) no-repeat;
	background-size: 182px 55px;
}
.swiper-container .banner_nav .listone .nav_list .list_title li a:nth-child(3){
	background: url(../images/index/title02.jpg) no-repeat;
	background-size: 182px 55px;
}
.swiper-container .banner_nav .listone .nav_list .list_title li a:nth-child(4){
	background: url(../images/index/title04.png) no-repeat;
	background-size: 182px 55px;
}
.swiper-container .banner_nav .listone:hover .nav_list .list_title li a:hover{
	box-shadow: inset 190px 0px 0px 0px rgba(0,0,0,.1);
}
.swiper-container .banner_nav .listone .nav_list .list_details{
	margin-top: 40px;
}
.swiper-container .banner_nav .listone .nav_list .dale{
	margin-top: 20px;
}
.swiper-container .banner_nav .listone .nav_list .list_details a{
	display: inline-block;
	width: 240px;
	font-size: 14px;
	color: #000000;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.swiper-container .banner_nav .listone .nav_list .list_details a img{
	border: 0;
	width: 50px;
	height: 55px;
	margin: 3px 0;
	vertical-align: middle;
	margin-right: 5px;
}
.swiper-container .banner_nav .listone .nav_list .list_details a span{
	display: inline-block;
	font-size: 12px;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #fc4f66;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	top: 173px;
	left: 65px;
}
.swiper-container .banner_nav .listone .nav_list .list_details a:nth-child(2) span{
	position: absolute;
	background: #fc854f;
	top: 173px;
	left: 310px;
}
.swiper-container .banner_nav .listone .nav_list .dale a:nth-child(1) span{
	top: 70px;
	left: 65px;
}
.swiper-container .banner_nav .listone .nav_list .dale a:nth-child(2) span{
	top: 70px;
	left: 310px;
}
.main{
    height: 2760px;
}
.main .top_list ul{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.main .top_list ul li{
	display: inline-block;
	width: 24%;
}
.main .top_list ul li a img{
	width: 100%;
}
.main .top_list ul li:hover{
	transform: translate3d(0,-2px,0);
	box-shadow: 0 15px 30px rgba(0,0,0,.1);
	transition: 0.5s all linear;
}
.module .first_list{
	height: 452px;
}
.module .top{
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 40px;
}
.module .top b{
	font-size: 24px;
	color: #000000;
}
.module .top:nth-child(1) a{
	font-size: 14px;
	float: right;
	color: #000000;
}
.module .top:nth-child(3) a{
	font-size: 14px;
	float: right;
	color: #000000;
}
.module .top a i{
	margin-left: 5px;
}
.main  .first_box{
	float: left;
	text-align: center;
	width: 32.5%;
	height: 450px;
	background: #fff;
}
.main  .first_box .later{
	display: none;
}
.main  .first_box .later ul a{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 10px;
	border-radius: 50%;
}
.main .first_list .first_box:nth-child(2){
	margin: 0 16px;
}
.main .first_box p{
	line-height: 50px;
	font-size: 22px;
	color: #000000;
}
.main .first_box p:nth-child(3){
	line-height: 25px;
	font-size: 16px;
}
.main .first_box p:nth-child(4){
	margin-top: 30px;
	font-size: 18px;
	color: red;
}
.main .first_list img{
	width:60%;
	height:50%;
}
.main .module .first_box:hover{
	transform: translate3d(0,-2px,0);
	box-shadow: 0 15px 30px rgba(0,0,0,.1);;
	transition: 0.5s all linear;
}
.main .module .first_box:hover .before{
	display: none;
}
.main .module .first_box:hover .later{
	display: block;
}
.main .module .first_box .later ul a:nth-child(1){
	border: 1px solid #888888;
}
.main .module .first_box:hover .later ul a{
	transform: translate3d(0,-2px,0);
	box-shadow: 3px 15px 30px rgba(0,0,2,.1);;
	transition: 0.5s all linear;
}
/*.main .module .first_box:hover .later ul a:hover{
	border:1px solid #DEDEDE;
}*/
.module .second_list{
	height: 835px;
}
.module .second_list .second{
	float: left;

}
.module .second_list .top{
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-top: 40px;
}
.module .second_list .second .img{
	display: inline-block;
	width: 50%;
	float: left;
}
.module .second_list .second .img img{
	width: 100%;
}
.module .second_list .second .img:hover{
	transform: translate3d(0,-2px,0);
	box-shadow: 0 15px 30px rgba(0,0,0,.1);
	transition: 0.5s all linear;
}
.module .second_list .first_box a img{
	width: 224px;
	height: 254px;
}
.module .second_list .first_box{
	height: 410px;
	width: 24%;
	margin-left: 10px;
}
.module .second_list .second .first_box .before{
	width: 100%;
	height: 100%;
}
.main .second_list .first_box{
	margin-bottom: 15px;
}
.module .second_list .first_box:nth-child(4){
	margin-left: 0;
}
.module .second_list .first_box:nth-child(5){
	margin-left:15px;
	margin-right:10px;
}
.main .second_list .second .first_box p:nth-child(2){
	font-size: 18px;
}
.main .second_list .first_box p:nth-child(3){
	font-size: 14px;
}
.main .second_list .first_box p:nth-child(4){
	font-size: 16px;
	margin-top: 10px;
}
.module .top:nth-child(5) .left a{
	font-size: 14px;
	color: #000000;
}
.main .third_list .first_box{
	width: 24.4%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.shift_nav{
	width: 60px;
	position: fixed;
	right: 0;
	bottom: 50px;
	z-index: 50;
}
.shift_nav li a{
	display: block;
	background: #fff;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.shift_nav li a i{
	font-size:26px;
	color: #252525;
}
.shift_nav .prompt_border{
	position: fixed;
	right: 60px;
	bottom: 50px;
	display: none;
	border-right: 10px solid transparent;
}
.shift_nav .prompt{
	background: #fff;
	width: 120px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
}
.shift_nav ul li:hover a{
	background: #ebebeb;
}
.shift_nav ul li:hover a i{
	color: #f51919;
}
.shift_nav ul li:hover .prompt_border{
	display: block;
}
.shift_nav .getTop{
	opacity: 0;
}